altair==5.4.1
asttokens==2.4.1
attrs==24.2.0
audioread
blinker==1.9.0
Bottleneck
Brotli
cachetools==5.5.0
certifi
cffi
charset-normalizer
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy
cycler
debugpy==1.8.2
decorator==5.1.1
executing==2.0.1
filelock
fonttools
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
graphviz==0.20.3
idna
importlib_metadata
ipykernel==6.29.5
ipython==8.26.0
jedi==0.19.1
Jinja2
joblib
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver
lazy_loader
librosa
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
msgpack
munkres==1.1.4
narwhals==1.14.2
nest-asyncio==1.6.0
networkx
numba
numexpr
numpy
packaging==24.1
pandas
parso==0.8.4
pillow
platformdirs==4.2.2
pooch
prompt_toolkit==3.0.47
protobuf==5.28.3
psutil==6.0.0
pure-eval==0.2.2
pyarrow==18.0.0
pycparser
pydeck==0.9.1
Pygments==2.18.0
pyparsing
PySocks
python-dateutil==2.9.0.post0
pytz
pywin32==306
PyYAML
pyzmq==26.0.3
referencing==0.35.1
requests
rich==13.9.4
rpds-py==0.21.0
scikit-learn
scipy
seaborn
setuptools==72.1.0
six==1.16.0
smmap==5.0.1
soundfile
soxr
stack-data==0.6.3
streamlit==1.40.1
sympy==1.13.1
tenacity==9.0.0
threadpoolctl
toml==0.10.2
torch==2.5.0
torchaudio==2.5.0
torchvision==0.20.0
torchviz==0.0.2
tornado==6.4.1
traitlets==5.14.3
typing_extensions
tzdata
urllib3
watchdog==6.0.0
wcwidth==0.2.13
wheel==0.44.0
win-inet-pton
zipp
